# Files and directories to exclude from Git repository
*~
*.[oa]
*.mod
*.nl
*.gs
*.eps
*.dat
*.data
*.i
*.in
*.optrpt
*.aux
*.log
*.dvi
*.toc
*.out
*.ps
.DS_Store
fort.*
gsdump*
eqdata*
trdata*
make.header
lib/testbes
lib/testbrn
lib/testell
lib/testfem
lib/testfft
lib/testgrd
lib/testgrf
lib/testspl
lib/testspl3d
lib/testqsort
dp/dp
dp/dpparm
eq/eq
eq/eqparm
exec
fp/fp
fp/fpparm
mtxp/make.mtxp
mtxp/testbnd
mtxp/testbndc
mtxp/testbnd
mtxp/testdmumps
mtxp/testksp
mtxp/testpcg
mtxp/testzmumps
mtxp/libmtxksp.i90
pic/pic
pl/pl
pl/plparm
t2/t2
tools/ufread
tools/ufread3
tools/guiread
tools/usplit
tot/tot
tot/totparm
tot/tests/c_abi/test_smoke
tr/tr2
tr/tr3
tr/trparm
tr/tests/c_abi/test_smoke
tr/tests/c_abi/test_param
tr/tests/c_abi/test_run
tr/tests/c_abi/*.o
wrx/tests/c_abi/test_smoke
trn/trn
trn/trparm
tx/tx2
tx/tx
tx/txparm
txnew/tx2
txnew/tx
txnew/txparm
w1/w1
w1/w1parm
w1n/w1
w1n/w1parm
wf2/wf
wf2/wfparm
wf3/wf
wf3/wfparm
wf2d/wf
wf2d/wfparm
wf2dt/wf
wf2dt/wfparm
wf3d/wf
wf3d/wfparm
wi/wi
wi/wiparm.nl
wm/wm
wm/wmparm
wmf/wm
wmf/wmparm
wmfn/wm
wmfn/wmparm
wr/wr
wr/wrparm
wr/tests/c_abi/test_smoke
wr/tests/c_abi/test_param
wr/tests/c_abi/test_run
wr/tests/c_abi/test_reinit
wr/tests/c_abi/test_run_so
wr/tests/c_abi/*.o
wr/libwrapi.so
wr/obj/pic/
wr/mod_pic/
dp/obj/pic/
dp/mod_pic/
dp/libdp_pic.a
eq/obj/pic/
eq/mod_pic/
eq/libeq_pic.a
pl/obj/pic/
pl/mod_pic/
pl/libpl_pic.a
lib/obj/pic/
lib/mod_pic/
lib/libtask_pic.a
lib/libgrf_pic.a
lib/libmds_pic.a
mtxp/mod_pic/
mtxp/libmtxnompi_pic.o
mtxp/libmtxbnd_pic.o
wrx/wr
wrx/wrparm
adpost/test-adpost
ti/ti
ti/tests/c_abi/test_smoke
cv/cv
cv/cvj
