# Files and directories to exclude from Git repository
*~
*.[oa]
*.mod
*.nl
*.gs
*.eps
*.dat
*.data
*.i
*.in
*.optrpt
*.aux
*.log
*.dvi
*.toc
*.out
*.ps
.DS_Store
fort.*
gsdump*
eqdata*
trdata*
make.header
lib/testbes
lib/testbrn
lib/testell
lib/testfem
lib/testfft
lib/testgrd
lib/testgrf
lib/testspl
lib/testspl3d
lib/testqsort
dp/dp
dp/dpparm
eq/eq
eq/eqparm
exec
fp/fp
fp/fpparm
mtxp/make.mtxp
mtxp/testbnd
mtxp/testbndc
mtxp/testbnd
mtxp/testdmumps
mtxp/testksp
mtxp/testpcg
mtxp/testzmumps
mtxp/libmtxksp.i90
pic/pic
pl/pl
pl/plparm
t2/t2
tools/ufread
tools/ufread3
tools/guiread
tools/usplit
tot/tot
tot/totparm
tr/tr2
tr/tr3
tr/trparm
trn/trn
trn/trparm
tx/tx2
tx/tx
tx/txparm
txnew/tx2
txnew/tx
txnew/txparm
w1/w1
w1/w1parm
w1n/w1
w1n/w1parm
wf2/wf
wf2/wfparm
wf3/wf
wf3/wfparm
wf2d/wf
wf2d/wfparm
wf2dt/wf
wf2dt/wfparm
wf3d/wf
wf3d/wfparm
wi/wi
wi/wiparm.nl
wm/wm
wm/wmparm
wmf/wm
wmf/wmparm
wmfn/wm
wmfn/wmparm
wr/wr
wr/wrparm
adpost/test-adpost
ti/ti
cv/cv
cv/cvj
wr/libwrapi.so
wr/obj/pic/
wr/mod_pic/
wr/tests/c_abi/test_run_so
dp/obj/pic/
dp/mod_pic/
dp/libdp_pic.a
fp/libfpapi.so
fp/obj/pic/
fp/mod_pic/
fp/tests/c_abi/test_run_so
ob/libob_pic.a
ob/obj/pic/
ob/mod_pic/

# Python bytecode caches
__pycache__/
*.pyc
